body {
    background-color: #fcee0a;
    font-family: 'Open Sans', sans-serif;
}

/* шапка*/
header {
    background-color: black;
    border-bottom: 5px solid black;
    color: #00ffd2;
}

#navigation {
    background-color: #00ffd2;
    border: 5px solid black;
    list-style: none;
}

#navigation li:hover {
    background-color: white;
    transition: 0.4s ease-in-out;
}


#header, #hyperlinks, #navigation, #footer, form {
	background-color: #d7d7d6;
}


table {
	font-size: 14px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
	max-width: 800px;
	margin: 0 auto;
}

td, th {
	padding: 5px;
}

tr:nth-child(odd) {
	background-color: #c99be9;
}

tr:nth-child(even) {
	background-color: #d7d7d6;
}

form {
	width: 100%;
	text-align: center;
}

textarea {
	width: 100%;
	max-width: 400px;
}

@media (min-width: 768px) {
	table {
		font-size: 18px;
	}
	.site_title {
		font-size: 32px;
	}
	.nav li a, form, #footer {
		font-size: 18px;
	}
	#navigation {
		font-size: 20px;
	}
}

@media (min-width: 1024px) {
	table {
		font-size: 18px;
	}
	.site_title {
		font-size: 34px;
	}
	.nav li a, form, #footer {
		font-size: 20px;
	}
	#navigation {
		font-size: 22px;
	}
}
